

/*

MES MODIFICATIONS

*/


/*-----------------------------------------------
 	 NOS PROJETS - certificats
 ---------------------------------------------*/

#nos_projets { /* Pour les ancres*/
    width: 100%;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

#nos_projets1{
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px;
}

#nav2{
    margin-top: 20px;
}

#nav2 ul li{
    background-color: #DCDCDC;
    margin: auto;
    margin:-2px;
    position: relative;
}

#nav2 ul li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    display: block;
    padding:15px;
}


#nav2 ul li a:hover{
    color: white;
}

#nav2 ul li:first-child{
    border-radius: 5px 0 0 5px;
}

#nav2 ul li:last-child{
    border-radius: 0 5px 5px 0;
}

#nav2 ul li:hover{
    background-color: #2EA3BE; /* gris claire*/
    box-shadow: 0px 5px #2b6f91;
}

/* ----------------------------------------
			*Création de triangle*
-------------------------------------------*/

#nav2 ul li:hover::before {
    content:"";
    position:absolute;
    margin-top:53px;
    left:40%;
    top:0;

    /* taille */
    height:0;width:0;

    /* les bordures */
    border-right:10px solid transparent;
    border-bottom:10px solid transparent;
    border-top:10px solid #2EA3BE;
    border-left:10px solid transparent;

}

#nos_projets2{
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
}

.element{
    width: 280px;
    height: 200px;
    margin:15px;

}

.image{
    height: 100%;
    width: 100%;
}

.texte_element{
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    margin-top:-65px;
    height: 30%;
    color:white;
    padding-left: 10px;
}

.element:hover .texte_element{
    opacity:0.9;
    transition: 2s;
}

.fa-eye{
    background-color: #2EA3BE;
    border: 5px #FFFFFF solid;
    border-radius: 100%;
    margin-left: 200px;
    margin-top:-30px;
    color: white;
    position: absolute;
    padding: 10px;

}

.text_p2{
    margin-left: 20px;
}

#popup{
    padding: 15%;
    padding-top:8%;
    position: absolute;
    top: 1200px;
    z-index: 100;
    background-color:rgba(255,255,255,0.9);
    display: none;
}

#element2{
    width: 70%;
    margin: auto;
}

#element2 img{
    width: 100%;

}

#popup:target {
    display: block;
    text-align: center;
    transition: 4s;
}

#fermer:target #popup{
    display:none;
}

#croix{
    text-align: right;
}

.text_popup{
    font-size: 20px;
    left: 20px;
    padding-left:20px;
}

input{
    font-size: 15px;
}

/*----------------------------------------
		 NOS SERVICES - COMPETENCES
-----------------------------------------*/
#competence_boby
{
    display: flex;
    justify-content: space-between;
    border: 10px red solid;
}

.competence_enfant
{
    width: 49%;
    min-width: 250px;

}

.ordinateur{
    width: 100%;
    text-align: center;
    margin-left: auto;
}

#bloc_list{
    width: 100%;
    display: block;
}

.section_liste{
    height: auto;
    width: auto;
    display: flex;
}

.div_icone{
    width: 60px;
    height: 60px;
    border: 2px blue solid;
}

.div_icone img
{
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 1px black solid;
    border-radius: 100%;
}


.div_texte{
    width: 87%;
    height:auto;
    padding-left: 15px;
    padding-right: 10px;
}


.icone{
    color: #2EA3BE;
    border: 1px solid grey; /*bordure à ne pas éffacer*/
    padding: 10px;
    border-radius: 100%;
}

.ligne{
    border-bottom: 1px grey solid;
    height: 10px;
    width: 100px;
    margin: auto;
    text-align: center;
    margin-top:-30px;

}

.point1{
    color: #2EA3BE;
    background-color: white;
    border: 4px solid white; /*bordure à ne pas éffacer*/
    border-radius: 50%;
}


h2{
    text-shadow: 1px 1px 3px;
    font-size: 50px;
    margin-bottom: 15px;
}


.point{
    color: #2EA3BE;
    border: 4px solid white; /*bordure à ne pas éffacer*/
    border-radius: 100%;
    position: absolute;
    margin-top: 15px;
    margin-left:-10px;
    font-size: 0.6em;
}

/*-------------------------------------------------
			         CONTACT
 ------------------------------------------------*/







/*-------------------------------------------------
			         Parcours
 ------------------------------------------------*/
.image.featured .parcours
{
    height: 250px;
}



/*-------------------------------------------------
			       BACK OFFICE
 ------------------------------------------------*/

.section_articles
{
    border: 3px #5b5b5b solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

table
{
    border-collapse: collapse !important;
    align-self: center !important;

}
td, th
{
    border: 2px solid black !important;;
    padding: 5px !important;;
}


/*-------------------------------------------------
			      media query
 ------------------------------------------------*/
/* ------------------------------
        (0 à 357px)
 ---------------------------------*/

@media screen and (max-width:357px)
{
    #competence_boby
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


}

/* ------------------------------
       (358 à 679px)
---------------------------------*/
@media screen and (min-height:358px) and (max-width:679px)
{

    #competence_boby
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .competence_enfant
    {
        flex-wrap: wrap;
    }

}