

/*

MES MODIFICATIONS

*/

header h2
{
    text-align: center;
}

a
{
    text-decoration: none;
}

.page_form
{
    margin-left: 15px;
    margin-right: 15px;
}


/*-----------------------------------------------
 	 NOS PROJETS - certificats - MENU
 ---------------------------------------------*/

#certificat
{ /* Pour les ancres*/
    width: 100%;
    background-color: white;
}

#nav
{
    position: fixed !important;
    z-index: 999 !important;
    top:0 !important;
    margin-top: 0 !important;

    background-image: url("../../Public/images/header.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-weight: bold;
}

nav ul li
{
    display: inline-block;
    list-style: none;
}

#nav ul li:hover
{
    background-color: black !important;
    border: 2px white solid !important;
}


#certificat_menu
{
    text-align: center;
    padding: 10px;
}

#nav2
{
    margin-top: 20px;
}

#nav2 ul li
{
    background-color: #DCDCDC;
    margin: auto;
    margin:-2px;
    position: relative;
}

#nav2 ul li a
{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    display: block;
    padding:15px;
}

#nav2 ul li a:hover
{
    color: white;
}

#nav2 ul li:first-child
{
    border-radius: 5px 0 0 5px;
}

#nav2 ul li:last-child
{
    border-radius: 0 5px 5px 0;
}

#nav2 ul li:hover
{
    background-color: #2EA3BE; /* gris claire*/
    box-shadow: 0 5px #2b6f91;
}

/* ----------------------------------------
			*Création de triangle*
-------------------------------------------*/

#nav2 ul li:hover::before
{
    content:"";
    position:absolute;
    margin-top:53px;
    left:40%;
    top:0;

    /* taille */
    height:0;width:0;

    /* les bordures */
    border-right:10px solid transparent;
    border-bottom:10px solid transparent;
    border-top:10px solid #2EA3BE;
    border-left:10px solid transparent;

}

/*
.category_item
{
    float: left;
    width: 20%;
    background-color: black;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}
*/

/*-----------------------------------------------
 	 certificats - IMAGES
 ---------------------------------------------*/
#certificat_enfant
{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
}

/*----------------------------------------
		 A supprimer?
-----------------------------------------*/
/*
.element
{
    width: 350px;
    height: 250px;
    margin:15px;
}

.image
{
    height: 100%;
    width: 100%;
}

.element:hover
{
    margin-top: -50px;
    width: 450px;
    height: 300px;
    transition: 1s;
}

*/

/*----------------------------------------
		 GESTION DE FILTER
-----------------------------------------*/

.category_container
{
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.category_item{

    white-space: 20%;
    background-color: white;
    padding: 20px O;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: black;

}

.category_item:hover
{
    color: white;
    background-color: black;
}

.block_container
{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.element_item
{
    box-sizing: border-box;
    float: left;
    padding: 2px;
    width: 300px;
    transition: all 0.4s ease-in-out;
    height: 250px;
    margin:5px;

}

.hide
{
    transform: scale(0);
    width: 0;
    padding: 0;
    transition: all 0.4s ease-in-out;
}



/*----------------------------------------
		 COMPETENCES
-----------------------------------------*/


.reel, .carousel
{
    padding-top: 70px !important;
    padding-bottom: 10px !important;
}


#competence_boby
{
    display: flex;
    justify-content: space-around;
}

.competence_enfant
{
    width: 49%;
    min-width: 250px;
}

h1
{
    text-align: center;
}

.titre_h1
{

}
.ordinateur
{
    width: 100%;
    text-align: center;
    margin-left: auto;
}

.bloc_list
{
    width: 100%;
    display: block;
}

.section_liste
{
    height: auto;
    width: auto;
    display: flex;
    padding: 10px;
    margin-top: 5px;
    background-color: white;
}

.div_icone
{
    width: 60px;
    height: 60px;
}

.div_icone img
{
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 1px black solid;
    border-radius: 100%;
}


.div_texte
{
    width: 87%;
    height:auto;
    padding-left: 15px;
    padding-right: 10px;
}


.icone
{
    color: #df7366;
    border: 1px solid grey; /*bordure à ne pas éffacer*/
    padding: 10px;
    border-radius: 100%;
}

.ligne
{
    border-bottom: 1px grey solid;
    height: 10px;
    width: 100px;
    margin: auto;
    text-align: center;
    margin-top:-30px;

}

.point1
{
    color: #df7366;
    background-color: white;
    border: 4px solid white; /*bordure à ne pas éffacer*/
    border-radius: 50%;
}


h2
{
    text-shadow: 1px 1px 3px;
    font-size: 50px;
    margin-bottom: 15px;
}


.point
{
    color: #df7366;
    border: 4px solid white; /*bordure à ne pas éffacer*/
    border-radius: 100%;
    position: absolute;
    margin-top: 15px;
    margin-left:-10px;
    font-size: 0.6em;
}



/*-------------------------------------------------
			         Parcours
 ------------------------------------------------*/
#parcours
{
    background-color: white;
    padding-top: 200px;
}



.image.featured .parcours
{
    height: 250px;
}

/*-------------------------------------------------
			       REALISATIONS
 ------------------------------------------------*/
.image_realisation
{
    height: 220px;
    display: block;
}

.realisationContent
{
    display: none;
   height: auto;
}

article:hover .realisationContent
{
    display: block;
    transition: display 5s;
    -moz-transition: display 5s;
    height: 210px;
}

article:hover .image_realisation
{
    display: none;
    transition: dispay 5s;
    -moz-transition: display 5s;
}



/*-------------------------------------------------
	 GESTION DES BOUTTONS  et LIENS BOUTTONS
 ------------------------------------------------*/
.button a
{
    display: block;
}
.button a:hover
{
    color: white !important;
}


/*-------------------------------------------------
	 GESTION DES BOUTTONS  et LIENS BOUTTONS
 ------------------------------------------------*/
.error
{
    border:1px solid #000;
    background-color: #999;
    text-align: center;
    font-size: 20px;
    display: none;
}


/*-------------------------------------------------
			       BACK OFFICE
 ------------------------------------------------*/
#bande_profil
{
    height:75px;
    width: 100%;
    background-color: white;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.section_articles
{
    border: 3px #5b5b5b solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

table
{
    border-collapse: collapse !important;
    align-self: center !important;

}
td, th
{
    border: 2px solid black !important;;
    padding: 5px !important;;
}

.entete_session, .corps_session
{
    background-color: white;
    width: 100%;
}

.corps_session
{
    display: none;
}


#corps_competence:target,
#corps_parcours:target,
#corps_realisation:target,
#corps_menu:target,
#corps_certificat:target,
#corps_utilisateur:target
{
    display: block;
}

#fermer:target .corps_session
{
    display: none;
}

#block_message_admin
{
    width: 400px;
    height: 300px;
    border: 5px black solid;
    border-radius: 20px;
    margin: auto;
    font-size: 20px;
    text-align: end;
    font-weight: bold;
}


/*-------------------------------------------------
			      media query
 ------------------------------------------------*/
/* ------------------------------
        (0 à 357px)
 ---------------------------------*/

@media screen and (max-width:357px)
{
    #competence_boby
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .competence_enfant
    {
        width: 100%;
    }
}

/* ------------------------------
       (358 à 679px)
---------------------------------*/
@media screen and (min-height:358px) and (max-width:679px)
{

    #competence_boby
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .competence_enfant
    {
        width: 100%;
    }


}